table, th, td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}
table {
  vertical-align: middle;
  width: 1200px;
}
html {
height: 100%;
}
body {
  height: 100%;
  margin: 40px auto;
  max-width: 1200px;
  line-height: 1.6;
  font-size: 18px;
  color: black;
  padding: 0 10px;
  background-color: #EEEEEE;
}
a:link, a:visited {
  color: black;
}
a:hover, a:active {
  color: darkgray;
}
.header-count {
  opacity: 70%;
}
@media print {
  table { page-break-inside: avoid; }
  .sshscan-htable-outer { page-break-inside: avoid; }
  .sshscan-alist-outer { page-break-before: always; }
  .sshscan-alist-inner { page-break-inside: avoid; }
}